<div id="property-modal" class="modal">
  <div class="modal-content">
    <span class="close-btn">&times;</span>

    <div class="property-gallery">
      <button id="prev-img">&#10094;</button>
      <div class="gallery-inner">
        <img id="property-image" src="" alt="Property Image">
        <div id="image-counter"></div>
        <div id="thumbnail-strip" class="thumbnail-strip"></div>
      </div>
      <button id="next-img">&#10095;</button>
    </div>

    <div class="property-details">
      <h2 id="property-title"></h2>
      <p id="property-price"></p>
      <p id="property-location"></p>
      <p id="property-details-modal"></p>
      <br><br>
      <p id="property-description"></p>
    </div>
  </div>
</div>
